.home-content-container {
  background-color: rgb(26,29,33);
  width: 83%;
}

.home-content-header-container {
  border-bottom: 1px solid #2c2f34;
  height: 49px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  color: rgb(204,205,206);
  font-size: 18px;
  font-weight: bold;
}

.main-hashtag {
  padding-right: 5px;
  padding-left: 7px;
}

.home-content-messages-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 98px - 100px);
  padding-bottom: 20px;
  justify-content: flex-end;
}

.messages-wrapper {
  overflow-y: scroll;
}

.messages-wrapper::-webkit-scrollbar {
  width: 8px;
}

.messages-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(209, 210, 200, 0.205);
  border-radius: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 90%;
}

.message-container-container:hover {
  background-color: rgb(34,37,41);
}

.message-username {
  color: rgb(209,210,200)
}

.message-body {
  color: rgb(167,171,173);
  word-wrap: break-word;
}

.message-form-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.message-form-input {
  flex: 1;
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(34,37,41);
  border: 2px solid rgb(86,88,86);
  border-radius: 8px;
  caret-color: rgba(255, 255, 255, 0.63);
  color: rgb(194,195,197);
  font-size: 15px;
  font-weight: 500;
}

.message-form-input:focus {
  outline: none;
}

.message-form-submit-button {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: rgb(87,89,93);
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
}

.message-form-submit-button.green {
  cursor: pointer;
  background-color: green;
  color: rgb(255,255,255)
}

.message-container-container {
  display: flex;
  justify-content: space-between;
}

.message-edit-delete-buttons {
  visibility: hidden;
}

.message-container-container:hover .message-edit-button {
  visibility: visible;
}

.message-container-container:hover .message-delete-button {
  visibility: visible;
}

.message-edit-button,
.message-delete-button {
  color: rgb(204,205,206);
  background-color: transparent;
  border: none
}

.message-delete-button:hover {
  color: red;
}

.message-edit-button:hover {
  color: yellow;
}

.restricted-channel-access {
  color: rgb(204,205,206);
  padding-left: 20px;
}

.join-channel-button {
  display: flex;
  column-gap: 7px;
  margin-top: 10px;
  background-color: green;
  width: 150px;
  justify-content: center;
  height: 30px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
